/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9ecd1; /* Light orange background */
  color: #333; /* Text color */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Shadow on header */
}

h1 {
  color: #333;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #333;
  text-decoration: none;
}

.hero {
  background-image: url("background-photo.jpg"); /* Background photo */
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

.gallery {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
}

.gallery img {
  max-width: 100%;
  height: auto;
  margin-right: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Shadow on images */
}

.for-us {
  padding: 100px 0;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.form-group {
  margin: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.contact-info {
  margin-top: 20px;
  text-align: center;
}

footer {
  background-color: #fff;
  padding: 20px 0;
  text-align: center;
}

.social-media {
  margin-top: 10px;
}

.social-media a {
  margin-right: 10px;
}

.social-media img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.social-media img:hover {
  transform: scale(1.2);
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .hamburger-menu .line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
  }
}
